<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [19]:
# write your answer here
string = ' Computational Methods for Information Systems'
print("Length of the input string is:", len(string))

Length of the input string is: 46

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [29]:
# write your answer here
output = {}
str1='google.com'
for i in str1:
  if i in output:
    output[i] = output[i]+1;
  else:
    output[i] = 1
print (output)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [33]:
# write your answer here
input = [8, 22, 12, 36, 45]
sum = 0
for i in range(0, len(input)):
  sum  = sum + input[i]
print (sum)

123

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [43]:
# write your answer here
str1 = 'restart'
char1 = str1[0]
output = str1[1:].replace(char1, '$')
output=char1+output
print (output)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [56]:
# write your answer here
def s(a, b):
    
    return 3.14*(1+(a/b))**3

s(10,7)

44.97615160349856

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [46]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
result = {**dic1, **dic2, **dic3}
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [50]:
# write your answer here
tuple = (1, 2, 3, 6,7,8)
element = 3
if element in tuple:
  print ("yes, the element exists in the tuple")
else:
  print ("the element not exists in the tuple")

yes, the element exists in the tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [52]:
# write your answer here
set = {17, 76, 103, 6}

print (max(set))
print (min(set))

103
6

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
# write your answer here