<a href="https://colab.research.google.com/github/santhoshjinna15/INFO5731/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [57]:
import random
import statistics
random_list=[]
for x in range (12):
    value  = random.randint(1,100)
    random_list.append(value)
print("randomly genearted  number: " ,random_list)
random_list.sort()
print("ascending order: " ,random_list)
random_list.sort(reverse=True)
print("Decending order: " ,random_list)
average = statistics.mean(random_list)
print('average of the randomly generated list: ', average )

randomly genearted  number:  [87, 57, 95, 9, 4, 41, 81, 47, 78, 16, 99, 99]
ascending order:  [4, 9, 16, 41, 47, 57, 78, 81, 87, 95, 99, 99]
Decending order:  [99, 99, 95, 87, 81, 78, 57, 47, 41, 16, 9, 4]
average of the randomly generated list:  59.416666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [3]:
import re
import string

#question 1
sent_1 = input("Enter sentence 1 : ")
sent_2 = input("Enter sentence 2 : ")

#question 2
def string_to_list(sentence):
  p = re.compile(r'\w+|[^\w\s]')
  return p.findall(sentence)
  pass

list_1=string_to_list(sent_1)
list_2=string_to_list(sent_2)

print("*** input sentences into list ***")
print("list_1: ",list_1)
print("list_2: ",list_2)

#question 3
def common_words(m, n):
  return (set(m).intersection(set(n)))
  pass
print("*** Common words in both sentences ***")
print("common words : :",common_words(list_1,list_2))

#question 4

print("***Sentences after removing punctuations***")

print("Sentence_1  : ", sent_1.translate(str.maketrans('','',string.punctuation)))
print("Sentence_2  : ", sent_2.translate(str.maketrans('','',string.punctuation)))

vowels = ['a','e','i','o','u','A','E','I','O','U']
#question 5
def number_of_vowels(sentence):
  res = dict()
  for i in vowels:
    n = sentence.count(i)
    if(n > 0):
      res[i] = n
  return res
print("*** Number of Vowels in sentances ***")
print("Number of vowels in sentence 1 : ",count_the_number_of_vowels(sent_1))
print("Number of vowels in sentence 2 : ",count_the_number_of_vowels(sent_2))

Enter sentence 1 : "I love to code in python,my first program in c!"
Enter sentence 2 : "Alas! Am I alive? This is my first python program",
*** input sentences into list ***
list_1:  ['"', 'I', 'love', 'to', 'code', 'in', 'python', ',', 'my', 'first', 'program', 'in', 'c', '!', '"']
list_2:  ['"', 'Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program', '"', ',']
*** Common words in both sentences ***
common words : : {'python', '!', 'I', 'program', 'first', '"', 'my', ','}
***Sentences after removing punctuations***
Sentence_1  :  I love to code in pythonmy first program in c
Sentence_2  :  Alas Am I alive This is my first python program
*** Number of Vowels in sentances ***
Number of vowels in sentence 1 :  {'a': 1, 'e': 2, 'i': 3, 'o': 5, 'I': 1}
Number of vowels in sentence 2 :  {'a': 3, 'e': 1, 'i': 4, 'o': 2, 'A': 2, 'I': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [4]:
# Your code here
import math
def  volume_of_sphere():
  print("r    v")
  for i in range(1,11):
    print(i,"  ",4*(math.pi)*pow(i,3)/3)
  pass
volume_of_sphere()

r    v
1    4.1887902047863905
2    33.510321638291124
3    113.09733552923255
4    268.082573106329
5    523.5987755982989
6    904.7786842338604
7    1436.755040241732
8    2144.660584850632
9    3053.6280592892786
10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [30]:
# Your code here

import pandas as pd
housing_data = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv')

housing_data

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [31]:
#question 1

occupied_housing = housing_data[housing_data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
occupied_housing
occupied_housing.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

In [26]:
#question 2
list_vacant_housing = housing_data[housing_data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
list_occupied_housing = housing_data[housing_data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
list_total_housing = housing_data[housing_data['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
year = housing_data[housing_data['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(list_vacant_housing,list_total_housing)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(list_occupied_housing, list_total_housing)]
final = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
final

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [27]:
#question 3
vacant_housing = housing_data[housing_data['title_field'] == 'Vacant Housing Units']
maximum_housing = pd.concat([occupied_housing[occupied_housing['value'] == occupied_housing['value'].max()],vacant_housing[vacant_housing['value'] == vacant_housing['value'].max()]])
print(maximum_housing[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

In [29]:
#question 4
from scipy import stats
print('Harmonic mean of total housing units is {0}'.format(stats.hmean(list_total_housing)))

Harmonic mean of total housing units is 44398.28543969185